<% if signed_in? %>


<div class="col-md-12" style="margin-top: 20px">
  <div class="col-md-6 col-md-offset-3">
    <ul>
    <li><%=	 link_to "Products", products_path %></li>
    <li>    <%=	 link_to "Categories", categories_path %>
    </li>
    <li>    <%=	 link_to "Subcategories", subcategories_path %>
    </li>
    </ul>


  </div>
</div>


<% else %>
    <div class="container">
      <div class="col-md-6 " style="margin-top: 20px">
        <div class="row border" style="margin-bottom: 10px">
          <div class="img-responsive" style="text-align: center;">
          </div>
          <h5 style="margin-left: 30px; color: #3c598c"></h5>
          <h5 style="margin-left: 30px; color: #3c598c"></h5>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1" style="margin-top: 150px; ">
        <div class="row col-md-4" style=" height: 300px; text-align: center; padding-top: 100px; position: fixed">
          <p>Sign in with Facebook so you can sell productos also!</p>
          <i class="icon-facebook-sign"></i>  <%= link_to "Sign in", user_omniauth_authorize_path(:facebook), class: " btn btn-lg btn-primary" %>

        </div>
      </div>
    </div>



<% end %>