


<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #e6e6e5; padding-top: 15px" >
  <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3" >

    <% @products.each do |x| %>
        <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
          <div class="img-responsive" >
            <p> <%=	image_tag x.photo.url(:medium) %> </p>
          </div>
          <div class="col-md-12">
             <h5 style="color: #90654b"> <%= x.name %> </h5>
                <p> <%=	 number_to_currency(x.price, :unit => "$")  %>
              - <%=	 x.description.html_safe %> </p>


          </div>
        </div>
        <hr/>
    <%	 end %>
  </div>


</div>
