



<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3" >

  <div class="row" style="background-color: #ffffff; padding: 40px; margin-right: -10px;">
      <div class="col-md-12">
        <h2 class="subtitulos"> <%=	 @product.name %> </h2>
        <div class="col-md-6">
          <div class="row" >
            <p> <%=	 @product.description.html_safe %> </p>
          </div>
        </div>
          <div class="row" >
            <p> <%=	image_tag @product.photo.url(:medium) %> </p>
          </div>
      </div>
  </div>
</div>
