<!DOCTYPE html>
<html>

<%= render 'layouts/head' %>
<body>

<% if signed_in? 	  %>
    <%= render 'layouts/topbar' %>
    <div style="margin-top: 50px">
      <%= yield %>
    </div>
<%  else %>
    <%= yield %>
<% end %>

</body>

</html>